@page
@model BHHC.App.IndexModel

@{
    ViewData["Title"] = "Reasons to Join!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Reasons to Join BHHC</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._reasons[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._reasons[0].ReasonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._reasons[0].ImportanceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model._reasons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportanceType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReasonId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReasonId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReasonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
